Loops: will repeat the same task.
There are two types of loop
1. For loop: computationally less expensive and can execute in faster time. (used when we know the exact no. of iterations/ use for dealing with sequential data(String, list, tuples))
2. while loop: execution takes time.(used in cases where certain are incorporated.)
e.g:

In [ ]:
Name=['ada','aka','elo','marii','dal']

For loop

In [ ]:
for Name in Name:   # Name is iteration (repetition of the process)
  print(Name)

ada
aka
elo
marii
dal

In [ ]:
num=[1,3,5,6,7,8,9]

In [ ]:
for nums in num:
  print(num)

[1, 3, 5, 6, 7, 8, 9]
[1, 3, 5, 6, 7, 8, 9]
[1, 3, 5, 6, 7, 8, 9]
[1, 3, 5, 6, 7, 8, 9]
[1, 3, 5, 6, 7, 8, 9]
[1, 3, 5, 6, 7, 8, 9]
[1, 3, 5, 6, 7, 8, 9]

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(3,5):
  print(i)

3
4

Display first 10 natural nos.

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

Here we have three range (start(inclusive),stop(exclusive), step)
E.g:

In [ ]:
for i in range(0,50,5):
  print(i)

0
5
10
15
20
25
30
35
40
45

Take a list of numbers and display all the even numbers from the list.

In [ ]:
for i in range(0,20):
  if i%2==0:
    print(i)

0
2
4
6
8
10
12
14
16
18

Take a list of numbers and display all the even number from the list

In [ ]:
for i in range(0,40):
  if i%3==0:
    print(i,end=" ")

0 3 6 9 12 15 18 21 24 27 30 33 36 39

While loop:computationally more expensive and more lines and take time to execute
e.g: a=1 (here (a) is  temporary variable)
while a<=10: (this is your expression)

In [13]:
a=2
while a<=10:
   print(a)
   a=a+2

2
4
6
8
10

Display all the even numbers between 1 to 20 (both numbers included)

In [16]:
a=2
while a<=20:
  print(a)
  a=a+2

2
4
6
8
10
12
14
16
18
20

For loop and while loop.
To controlling the flow in loops
1. break statement: break the loop when element is satisfying a given condition.
2. continue statement: continue to iterate and only the element in the given condition get skip.

In [6]:
Fruits=['Apple','Mango','Cucumber','Grapes','Lichi','Jet fruit']
for i in Fruits:
  if i=='Grapes':
   continue    # only the given condition will skip and the other elements will continue to iterate
  print(i)

Apple
Mango
Cucumber
Lichi
Jet fruit

In [7]:
Name=['Kayia','Adaziia','Eloni','Mariine','Daili','Salew','Losa']
for N in Name:
  if N=='Daili':  # all the elements will remove after the given condition, including the element which is given.
    break
  print(N)

Kayia
Adaziia
Eloni
Mariine